body{
    background-color: #e6f3ff;
    margin: 100px;
    margin-top: 50px;
}

.tagline{
    color: blueviolet;
    font-style: italic;
}

.img{
    float: right;
}

.pricetopic{
    font-size: 25px;
    font-weight: bold;
    padding-top: 115px;
}

table{
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 100%;
}

th, td{
    text-align: left;
    padding: 16px;
}

footer{
    font-size: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
    background-color: orange;
    color: black;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    left: 0;
    bottom: 0;
}